<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="bundle.js" defer></script>
  </head>
  <body>
    <script>const initialState = JSON.parse("{{{ initialState }}}");</script>
    <div id="root">{{{ reactRoot }}}</div>
  </body>
</html>
