<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Open Eyes</title>
    {{{ styleTags }}}
    <script src="/assets/bundle.js" defer></script>
  </head>
  <body>
    <script>window.initialState = JSON.parse("{{{ initialState }}}");</script>
    <div id="root">{{{ reactRoot }}}</div>
  </body>
</html>
